<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management System</title>
    <link href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <nav class="bg-blue-600 text-white">
        <div class="container mx-auto px-4 py-2">
            <div class="flex items-center justify-between">
                <a class="text-2xl font-bold" href="{% url 'main:home' %}">Inventory Management System</a>
                <button id="menu-toggle" class="md:hidden navbar-toggler">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
                <ul class="hidden md:flex space-x-4" id="main-menu">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                        <li><a class="navbar-link" href="{% url 'main:vendor_list' %}">Vendors</a></li>
                        <li><a class="navbar-link" href="{% url 'main:product_list' %}">Products</a></li>
                        <li><a class="navbar-link" href="{% url 'main:purchase_list' %}">Purchases</a></li>
                        <li><a class="navbar-link" href="{% url 'main:customer_list' %}">Customers</a></li>
                        <li><a class="navbar-link" href="{% url 'main:sale_list' %}">Sales</a></li>
                        <li><a class="navbar-link" href="{% url 'main:inventory_list' %}">Inventory</a></li>
                        <li><a class="navbar-link" href="{% url 'main:expense_list' %}">Expense</a></li>
                        <li><a class="navbar-link" href="{% url 'main:master_dashboard' %}">Admin Dashboard</a></li>

                           
                        {% else %}
                        <li><a class="navbar-link" href="{% url 'main:inventory_list' %}">Inventory</a></li>
                        <li><a class="navbar-link" href="{% url 'main:sale_create' %}">Create Sale</a></li>
                        <li><a class="navbar-link" href="{% url 'main:sale_list' %}">Sales</a></li>
                        <li><a class="navbar-link" href="{% url 'main:customer_create' %}">Create Customer</a></li>
                        <li><a class="navbar-link" href="{% url 'main:expense_list' %}">Expense</a></li>
                        <li><a class="navbar-link" href="{% url 'main:expense_create' %}">Create Expense</a></li>
                        <li><a class="navbar-link" href="{% url 'main:purchase_list' %}">Purchases</a></li>
                        <li><a class="navbar-link" href="{% url 'main:vendor_dashboard' %}">{{ request.user.vendor_profile.full_name }}'s Dashboard</a></li>
                    {% endif %}
                        <li><a class="navbar-link" href="{% url 'main:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a class="navbar-link" href="{% url 'main:login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- Responsive Mobile Menu -->
            <ul class="hidden mt-2 md:hidden space-y-2" id="mobile-menu">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li><a class="navbar-link" href="{% url 'main:vendor_list' %}">Vendors</a></li>
                <li><a class="navbar-link" href="{% url 'main:product_list' %}">Products</a></li>
                <li><a class="navbar-link" href="{% url 'main:purchase_list' %}">Purchases</a></li>
                <li><a class="navbar-link" href="{% url 'main:customer_list' %}">Customers</a></li>
                <li><a class="navbar-link" href="{% url 'main:sale_list' %}">Sales</a></li>
                <li><a class="navbar-link" href="{% url 'main:inventory_list' %}">Inventory</a></li>
                <li><a class="navbar-link" href="{% url 'main:expense_list' %}">Expense</a></li>
                <li><a class="navbar-link" href="{% url 'main:master_dashboard' %}">Admin Dashboard</a></li>

                   
                {% else %}
                <li><a class="navbar-link" href="{% url 'main:inventory_list' %}">Inventory</a></li>
                <li><a class="navbar-link" href="{% url 'main:sale_create' %}">Create Sale</a></li>
                <li><a class="navbar-link" href="{% url 'main:sale_list' %}">Sales</a></li>
                <li><a class="navbar-link" href="{% url 'main:customer_create' %}">Create Customer</a></li>
                <li><a class="navbar-link" href="{% url 'main:expense_list' %}">Expense</a></li>
                <li><a class="navbar-link" href="{% url 'main:expense_create' %}">Create Expense</a></li>
                <li><a class="navbar-link" href="{% url 'main:purchase_list' %}">Purchases</a></li>
                <li><a class="navbar-link" href="{% url 'main:vendor_dashboard' %}">{{ request.user.vendor_profile.full_name }}'s Dashboard</a></li>
            {% endif %}
                    <li><a class="navbar-link" href="{% url 'main:logout' %}">Logout</a></li>
                {% else %}
                    <li><a class="navbar-link" href="{% url 'main:login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
  

    <main class="container mx-auto my-8 px-4">
        {% block content %}
        {% endblock %}
    </main>

    <script>
        const menuToggle = document.getElementById('menu-toggle');
        const mobileMenu = document.getElementById('mobile-menu');
        
        menuToggle.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>
</body>
</html>
