{% extends 'base.html' %}

{% block content %}
  <div class="container mx-auto mt-8">
    <div class="bg-white shadow-lg rounded-lg">
      <h2 class="text-2xl bg-gray-800 text-white px-6 py-4 rounded-t-lg">Inventory List</h2>
      {% if request.user.is_superuser %}
      {% comment %} Filters {% endcomment %}
      <div class="mx-4 my-5">
        <form action="{% url 'main:inventory_list' %}" method="GET">
          <div class="flex items-center">
            <label for="customer-filter" class="mr-2">Vendor: </label>
            <select name="vendor" id="vendor-filter" class="px-2 py-1 border border-gray-300">
              <option value="">All</option>
              {% for customer in vendors %}
                <option value="{{ customer.id }}" {% if customer.id == selected_customer %}selected{% endif %}>{{ customer }}</option>
              {% endfor %}
            </select>
            <button type="submit" class="ml-2 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">Filter</button>
          </div>
        </form>
      </div>
   

      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-100">
          <tr>
            <th class="py-3 px-6 text-left">Product</th>
            <th class="py-3 px-6 text-left">Purchase Quantity</th>
            <th class="py-3 px-6 text-left">Sale Quantity</th>
            <th class="py-3 px-6 text-left">Total Balance Quantity</th>
            <th class="py-3 px-6 text-left">Vendor</th>
            <th class="py-3 px-6 text-left">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {% for item in inventory %}
          <tr>
            <td class="py-4 px-6">{{ item.product.title }}</td>
            <td class="py-4 px-6">{{ item.pur_qty }}</td>
            <td class="py-4 px-6">{{ item.sale_qty }}</td>
            <td class="py-4 px-6">{{ item.total_bal_qty }}</td>
            <td class="py-4 px-6">{{ item.vendor }}</td>
            <td class="py-4 px-6">
              <a href="{% url 'main:inventory_detail' item.pk %}" class="text-blue-600 hover:underline">Details</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <table class="min-w-full divide-y divide-gray-300">
        <thead class="bg-gray-100">
          <tr>
            <th class="py-3 px-6 text-left">Product</th>
            <th class="py-3 px-6 text-left">Purchase Quantity</th>
            <th class="py-3 px-6 text-left">Sale Quantity</th>
            <th class="py-3 px-6 text-left">Total Balance Quantity</th>
            <th class="py-3 px-6 text-left">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          {% for item in inventory %}
          <tr>
            <td class="py-4 px-6">{{ item.product.title }}</td>
            <td class="py-4 px-6">{{ item.pur_qty }}</td>
            <td class="py-4 px-6">{{ item.sale_qty }}</td>
            <td class="py-4 px-6">{{ item.total_bal_qty }}</td>
            <td class="py-4 px-6">
              <a href="{% url 'main:inventory_detail' item.pk %}" class="text-blue-600 hover:underline">Details</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
{% endblock %}
