{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-2xl font-bold mb-4">Purchase List</h2>
    {% comment %} Create purchase button with good styling{% endcomment %}

    {% if request.user.is_superuser %}
    <div class = "flex justify-end mb-4  ">
      <a href="{% url 'main:purchase_create' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Create Purchase</a>
    </div>
    {% endif %}


    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-100">
        <tr>
          <th class="py-3 px-6 text-left">#</th>
          <th class="py-3 px-6 text-left">Product</th>
          <th class="py-3 px-6 text-left">Vendor</th>
          <th class="py-3 px-6 text-left">Quantity</th>
          <th class="py-3 px-6 text-left">Price</th>
          <th class="py-3 px-6 text-left">Total Amount</th>
          <th class="py-3 px-6 text-left">Date</th>
          
        </tr>
      </thead>
      <tbody>
        {% for purchase in purchases %}
          <tr>
            <td class="py-4 px-6">{{ forloop.counter }}</td>
            <td class="py-4 px-6">{{ purchase.product.title }}</td>
            <td class="py-4 px-6">{{ purchase.vendor.full_name }}</td>
            <td class="py-4 px-6">{{ purchase.qty }}</td>
            <td class="py-4 px-6">{{ purchase.product.price }}</td>
            <td class="py-4 px-6">{{ purchase.total_amt }}</td>
            <td class="py-4 px-6">{{ purchase.pur_date }}</td>
           
          </tr>
        {% empty %}
          <tr>
            <td class="border px-4 py-2" colspan="8">No purchases available.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
